/* Fira Code for code blocks */
@font-face {
  font-family: 'Fira Code';
  src: url('FiraCode-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Mozilla Text - Variable Font */
@font-face {
  font-family: 'Mozilla Text';
  src: url('Mozilla_Text/MozillaText-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 700;
  font-style: normal;
}

/* Mozilla Text - Static fonts */
@font-face {
  font-family: 'Mozilla Text';
  src: url('Mozilla_Text/static/MozillaText-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Mozilla Text';
  src: url('Mozilla_Text/static/MozillaText-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mozilla Text';
  src: url('Mozilla_Text/static/MozillaText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mozilla Text';
  src: url('Mozilla_Text/static/MozillaText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mozilla Text';
  src: url('Mozilla_Text/static/MozillaText-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mozilla Text';
  src: url('Mozilla_Text/static/MozillaText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Mozilla Headline - Variable Font */
@font-face {
  font-family: 'Mozilla Headline';
  src: url('Mozilla_Headline/MozillaHeadline-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 700;
  font-stretch: 75% 125%;
  font-style: normal;
}

/* Mozilla Headline - Static fonts (commonly used weights) */
@font-face {
  font-family: 'Mozilla Headline';
  src: url('Mozilla_Headline/static/MozillaHeadline-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mozilla Headline';
  src: url('Mozilla_Headline/static/MozillaHeadline-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mozilla Headline';
  src: url('Mozilla_Headline/static/MozillaHeadline-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
